body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#header{
    background-color: blue;
    padding: 10px ;
}
#content{
    background-color: cadetblue;
    width: 1024px;
    float: left;
    padding: 2em;
    border: 1px solid rgb(180, 25, 59);
    box-sizing: border-box;
}
#sidebar{
    background: aqua;
    width: 839px;
    float: right;
    padding: 1em;
    border: 1px solid rgb(180, 25, 59);
    box-sizing: border-box;
}
#footer{
    clear: both;
    background-color:red;
    padding: 1em;
}
