.container{
    width: 100%;
    
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#logo{
    width: 10%;
    height: 18px;
    background-color: aqua;
    float: left;
    padding: 2em;
    border: 3px solid black;
    text-align: center;
}
.sidebar{
 
    font-family: 'Times New Roman', Times, serif;
}
.sidebar #sidebar1{
    width: 60%;

    background-color: aqua;
    float: left;
    padding: 2em;
    border: 3px solid black;
}
.sidebar #logo1{
    width: 198px;
    background-color: aqua;
    float: right;
    padding: 2em;
    border: 3px solid black;
}  